html, body {
	height: 100%;
	background-repeat: no-repeat;
  background: linear-gradient(42deg, rgba(20,137,171,1) 0%, rgba(16,227,225,1) 38%, rgba(15,201,255,1) 95%);
  background-size: cover;
  font-family: 'Raleway', sans-serif;
	margin: auto;
	text-align: center;
	overflow: auto;
	color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
	font-size: 30px;
	color: #fff;
	margin-top: 50px;
}

h3 {
	font-size: 18px;
	color: #cee0dc;
}

